@font-face {
    font-family: 'IRANYekan';
    src: url('font/IRANYekan/iranyekanwebbold(fanum).eot');
    src: url('font/IRANYekan/iranyekanwebbold(fanum).eot?#iefix') format('eot'), /* IE6–8 */
    url('font/IRANYekan/iranyekanwebbold(fanum).woff2') format('woff2'), /* Chrome36+, Opera24+*/
    url('font/IRANYekan/iranyekanwebbold(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/IRANYekan/iranyekanwebbold(fanum).ttf') format('ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'IRANYekan';
    src: url('font/IRANYekan/iranyekanwebregular(fanum).eot');
    src: url('font/IRANYekan/iranyekanwebregular(fanum).eot?#iefix') format('eot'), /* IE6–8 */
    url('font/IRANYekan/iranyekanwebregular(fanum).woff2') format('woff2'), /* Chrome36+, Opera24+*/
    url('font/IRANYekan/iranyekanwebregular(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/IRANYekan/iranyekanwebregular(fanum).ttf') format('ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'IRANYekan';
    src: url('font/IRANYekan/iranyekanweblight(fanum).eot');
    src: url('font/IRANYekan/iranyekanweblight(fanum).eot?#iefix') format('eot'), /* IE6–8 */
    url('font/IRANYekan/iranyekanweblight(fanum).woff2') format('woff2'), /* Chrome36+, Opera24+*/
    url('font/IRANYekan/iranyekanweblight(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/IRANYekan/iranyekanweblight(fanum).ttf') format('ttf');
    font-weight: 300;
}


.elementor-panel,.elementor-button,body,
.elementor-templates-modal .dialog-widget-content,
 input, select, textarea,.tipsy-inner,.elementor-add-section-drag-title,
 .elementor-add-section-drag-title,.elementor-safe-mode-toast .elementor-toast-content,.elementor-safe-mode-toast header h2
 {font-family:IRANYekan!important}
 
.elementor-loading-title{letter-spacing:0px!important;font-size:13px!important}
 #elementor-template-library-filter .select2-selection__rendered, 
 #select2-elementor-template-library-filter-subtype-results .select2-results__option{text-align: right;}
 #elementor-try-safe-mode .elementor-safe-mode-button {font-family: iranyekan;font-size: 10px;}
 
